body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
}
.livesLeft {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.livesLeft span {
    color: red;
}
.score {
    margin-top: 1rem;
    text-align: center;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.buttonContainer button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    gap: 1rem;
}
.buttonContainer button[data-state='included'] {
    background-color: green;
}
.buttonContainer button[data-state='notIncluded'] {
    background-color: red;
}
.buttonContainer button[data-state='clicked'] {
    background-color: #333;
}
.abcButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 480px;
    gap: 0.1rem;
}
.abcButtons button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.abcButtons button[data-state='included'] {
    background-color: green;
}
.abcButtons button[data-state='notIncluded'] {
    background-color: red;
}
.abcButtons button[data-state='clicked'] {
    background-color: #333;
}
.abcButtons button[data-state='transparent'] {
    background-color: transparent;
    border: none;
    
}
.imgContainer {
    position: relative;
    height: 600px;
    display: block;
}
.hangState {
    height: 350px;
    position: absolute;
    top: 105px;
    left: 126px;
}
.hangState.win {
    top: 130px;
}
.hiddenLetterContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.hiddenLetter {
    border-bottom: 2px solid #333;
    width: 1em;
    text-align: center;
    font-size: 2em;
    height: 1.2em;
}
.gameOver {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #aaa;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    border: 2px solid black;
}
.gameOver .win {
    color: green;
}
.gameOver .lost {
    color: red;
}
.gameOver span {
    font-weight: bold;
    border-bottom: 2px solid black;
    font-size: 1.2em;
}
.gameOver .restartBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
}
