@media (max-width: 1200px) {
    .abcButtons {
        width: 430px;
    }
    .abcButtons button {
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .hiddenLetterContainer {
        gap: 0.7rem;
    }
    .hiddenLetter {
        width: 1em;
        font-size: 1.6em;
        height: 1.2em;
    }
    .imgContainer {
        height: 500px;
    }
    .hangState {
        position: absolute;
        height: 300px;
        top: 95px;
        left: 120px;
    }
    .hangImg {
        height: 450px;
    }

    .abcButtons :nth-child(10){
        margin-right: auto;
        
    }
    .abcButtons :nth-child(19){
        margin-right: 20px;
    }
}

@media (max-width: 800px) {
    .abcButtons {
        gap: 0.1rem;
    }
    .abcButtons button {
        padding: 0.4rem 0.8rem;
        
    }

    .hiddenLetterContainer {
        gap: 0.7rem;
    }
    .hiddenLetter {
        width: 1.2em;
        text-align: center;
        font-size: 1.2em;
        height: 1.4em;
    }
    .imgContainer {
        height: 420px;
    }
    .hangState {
        position: absolute;
        height: 250px;
        top: 84px;
        left: 112px;
    }
    .hangImg {
        height: 400px;
    }
}
@media (max-width: 500px) {
    .abcButtons {
        gap: 0.1rem;
        width: 300px;
    }
    .abcButtons button {
        padding: 0.2rem 0.5rem;
        width: 27px;
        height: 20px;
    }

    .hiddenLetterContainer {
        gap: 0.5rem;
    }
    .hiddenLetter {
        width: 1em;
        text-align: center;
        font-size: 1em;
        height: 1.2em;
    }
    .imgContainer {
        height: 350px;
    }
    .hangState {
        position: absolute;
        height: 200px;
        top: 63px;
        left: 80px;
    }
    .hangImg {
        height: 300px;
    }
    .hangState.win {
        top: 90px;
    }
    .livesLeft {
    top: 3rem;
}
}
