body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
}
h2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
h2 span {
    color: red;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.buttonContainer button[data-state='included'] {
    background-color: green;
}
.buttonContainer button[data-state='notIncluded'] {
    background-color: red;
}
.buttonContainer button[data-state='clicked'] {
    background-color: #333;
}
.imgContainer {
    position: relative;
}
.hangState {
    position: absolute;
    top: 105px;
    left: 150px;
}
.test2 {
    height: 600px;
    display: block;
}
.hiddenLetterContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.hiddenLetter {
    border-bottom: 2px solid #333;
    width: 1em;
    text-align: center;
    font-size: 2rem;
    height: 1em;
}
